<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Dashboard</title>
  </head>

<body class="application">

<div align="center">
    From : <input type="date" name="field1" id="field1" /> To : <input type="date" name="field2" id="field2" /><br /><br />
    <input type="button" onclick="render(true)" value="Submit" />
</div>


<div class="container-fluid">
<div class="row">
<div class="col-sm-6">
<div class="row">
<div class="col-sm-12">
<div class="chart-wrapper">
<!-- <div class="chart-title">
                Time Of Run Daily
</div> -->
<div class="chart-stage">
<div id="Chart"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="col-sm-12">
<div class="row">
<div class="col-sm-6">
<div class="chart-wrapper">
<!--     <div class="chart-title">
                No. Of Runs Daily
    </div> -->
<div class="chart-stage">
<div id="time-chart"></div>
</div>
</div>
</div>
</div>
</div>

<!-- <div class="container-fluid"> -->
<div class="row">
<div class="col-sm-6">
<div class="row">
<div class="col-sm-12">
<div class="chart-wrapper">
<!-- 	<div class="chart-title">
                Unique Runners Daily
	</div> -->
<div class="chart-stage">
	<div id="time-chartX"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- </div> -->

<br><br>
<div class="container-fluid">
<div class="row">
<div class="col-sm-6">
<div class="row">
<div class="col-sm-12">
<div class="chart-wrapper">
<!-- 	<div class="chart-title">
                Newly Registered Users Daily
    </div> -->
<div class="chart-stage">
<br>
    <div id="time-chartY"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div id="test"></div> 
<!-- 
      <div class="col-sm-6">
        <div class="row">
<div id="number-records-nd"></div>
</div>
</div> -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="./static/lib/js/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<script src="https://rawgithub.com/NickQiZhu/dc.js/master/web/js/crossfilter.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.css" media="screen">


<script src="./static/lib/js/queue.js"></script>
<script src="https://cdnjs.site44.com/dc3.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>  


      <script src='./static/js/five.js' type='text/javascript'></script> 
</body>
</html>




