<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Dashboard</title>
  </head>

<body class="application">


<div id="test"></div> 
<!-- 
      <div class="col-sm-6">
        <div class="row">
<div id="number-records-nd"></div>
</div>
</div> -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="./static/lib/js/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<script src="https://rawgithub.com/NickQiZhu/dc.js/master/web/js/crossfilter.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css" media="screen">
<script src="./static/lib/js/dc.min.js"></script>

<script src="./static/lib/js/queue.js"></script>
<script src="https://cdnjs.site44.com/dc3.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>  


      <script src='./static/js/try.js' type='text/javascript'></script> 
</body>
</html>
